<div class="box_wrap box_wrap_1">

  <div id="expense_stat">
    <% total = 0 %>
    <% @expenses.each do |row| %>
      <% total = total + row[1] %>
      <div><%= @groups[row[0]-1][1] %></div>
      <div class="td_right"><%= row[1].to_sum %></div>
      <div><%= row[2] %></div>
    <% end %>    

    <div>Итого:</div>
    <div class="td_right"><%= total.to_sum %></div>
    <div></div>
  </div>

</div>



