/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require_self
 */

.small_table {width: 25%}

.expense_stat{
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;  
} 

.expense_stat .body, .expense_stat .total{ 
  /*display: grid; grid-template-columns: 200px 200px 1fr 1fr; */
  display: grid;
  grid-template-columns: 1fr 80px;
  /*column-gap: 20px;*/
  }

.expense_stat>div:not(.line) {
/*  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;*/
}

.expense_stat > div:first-of-type,
.line + div {
  /*grid-column: 2;*/
}

.line {
  grid-column: 1 / -1;
  height: 1px;
  background: black;
}

.expense_stat .body div:not(.line){padding: 4px 8px;}
.expense_stat .total div{padding: 4px 8px; font-weight: bold;}
.expense_stat .header{padding: 4px 8px; color: #d9480f; background-color: #ffd8a8; font-weight: bold;}

.ttable thead {
    border-radius: 0 3px 3px 0;
}
.ttable th, .ttable .total {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
}

.td_edit_delete { width: 50px; }
.icon,li.icon a {display: inline-block; vertical-align:middle; position:relative; width: 16px; height: 16px;}
.icon+.icon {margin-left: 2px;}
.icon_remove {background: image_url('delete.png');}
.icon_remove.disabled { }
.icon_edit {background: image_url('edit.png');}
.icon_code {background: url('code.png');}
.icon_tag {background: url('tag.png');}

.table_row {height: 50px;}
.table_cell {width: 48%; float: left;}
.table_cell_last {width: 48%; float: right;}