// Place all the styles related to the balances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table_balances_col{
  display: grid;
  grid-template-columns: 250px repeat(4,120px) auto 55px;

  vertical-align: middle;
    color: #5a5a5a;
    font-size: 12px;
}

.table_balances_col div{padding: 4px 8px;}