// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left {float: left;}
.td_right{text-align: right;}

.expense{
  width: 900px;
  margin: 0 auto;
}

input[type="submit"]{
  height: 34px;
  width: auto !important;
}


.btn_a
{
    display: inline-block;
    background: #ff8411;
    height: 34px;
    line-height: 34px;
    padding: 0 19px 0 19px;
    text-decoration: none;
    font-size: 14px;
    color: #fff !important;
    border-radius: 5px;
    position: relative;
}

.btn_reset{
  background: #c3c3c3;
  margin-right: 10px;
}