subnav { display: block; overflow:auto; }
.navbar-default { background-color: #f8f8f8; border-color: #e7e7e7; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #e7e7e7; }

.container { width: 1260px !important; margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px;}
.container-fluid {  margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse { margin-right: 0; margin-left: 0;}

.nav { margin-bottom: 0; padding-left: 0; list-style: none;}
.nav>li { position: relative; display: block;}
.nav>li.selected {background-color: #616161; height: 50px;}
.nav>li.selected a { color: #f0f0f0;  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);}
.nav>li {   position: relative;  display: block; font-size: 13px;}
.nav>li>a { position: relative;  display: block;  }
.navbar .nav>li>a { padding: 16px 16px; }

.nav-pills>li { float: left;}
.nav-pills a {border-radius: 4px;}
.nav>li>a:hover, .nav>li>a:focus { text-decoration: none; background-color: #93c0e6; color: white;}
.nav-pills>li+li {margin-left: 2px;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { color: #fff; background-color: #428bca; }
a { color: #428bca;  text-decoration: none;}

.navbar { position: relative; min-height: 51px; margin-bottom: 20px; border: 1px solid #e7e7e7; border-radius: 4px; background-color: #f8f8f8; }
.navbar-nav { float: left; margin: 0; width: 92%;}
.navbar-nav>li { float: left;}
// .navbar .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; line-height: 20px;}
.navbar-nav>li.logout>a { padding-top: 13px; padding-bottom: 13px;}
#logout a {padding-top: 13px; padding-bottom: 13px;}
#options a  {padding-top: 13px; padding-bottom: 13px; }
#options a:hover img  { background-image: asset-url("gear_wh.png") }
.navbar-nav>li>a { padding-top: 15px; padding-bottom: 15px; }

.li-right{ float: right !important; }
