<p id="notice"><%= notice %></p>

<div class="head">
  
  Расходы 
<%= link_to 'Добавить расход', new_expense_path, class: 'btn btn_a right' %>
</div>


<div class="expenses">

  <div class="table_filter">
    <div>
      <v-chosen name="account" placeholder="Счет..."/>
    </div>
    <div>
      <v-chosen name="expense_type" placeholder="Вид расхода..."/>
    </div>
    <div>
      <v-chosen name="shop" placeholder="Магазин..."/>
    </div>
    <div></div>
    <div><button v-on:click="shuffle" >Сбросить</button></div>
  </div>

  <div class="expenses_table">
    <div class="table_9col grid_thead">
      <div v-for="column in columns">
        <a href="#" v-on:click="sortBy(column[0])"> {{ column[1]  }} </a>
      </div>
    </div>

    <transition-group name="flip-list" tag="ul">
      <li v-for="item in computedList" v-bind:key="item.id">
        <div class="table_9col">
          <div v-for="column in columns" v-bind:class="{ td_right: column[0] == 'amount' }">
            {{ item[column[0]] }} 
          </div>
          <div class="edit_delete td_right " style="">
            <a class="icon icon_edit" data-modal="true" :href="editLink(item.id)"></a>
            <span class="icon icon_remove" @click="deleteLink(index, item.id)"></span> </div>
          </div>
        </li>
      </transition-group>

      <div class="table_9col grid_thead">
        <div>Итого:</div>
        <div></div>
        <div class="td_right">{{calcTotal}}</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <%= render 'index_vue' %>

