.head
  | Расходы
  = link_to 'Добавить расход', new_expense_path, class: 'btn btn_a right'

.ower  
  .expenses
    .table_filter
      div
        v-chosen name="account" placeholder="Счет..." 
      div
        v-chosen name="expense_type" placeholder="Вид расхода..."
      div
        v-chosen name="shop" placeholder="Магазин..." 
      div
        v-chosen name="expense_kind" placeholder="Тип расхода..."
      div
        button v-on:click="shuffle" Сбросить  

    div v-for="month in groupHeaders"
      .expenses_table
        .grid_title 
          |{{month}}

        .table_9col.grid_thead
          div v-for="column in columns"
            a href="#" v-on:click="sortBy(column[0], month)" {{ column[1] }}

        transition-group name="flip-list" tag="ul" 
          li v-bind:key="item.id" v-for="item in grouped[month]"
            .table_9col
              div v-bind:class="{ td_right: column[0] == 'amount' }" v-for="column in columns"
                | {{ formatValue(item[column[0]], column[0]) }}
              .edit_delete.td_right style="" 
                a.icon.icon_edit :href="editLink(item.id)" data-modal="true"   
                span.icon.icon_remove v-on:click="deleteRow(month, item)"

        .table_9col.grid_total
          div Итого:
          div
          .td_right  
            |{{fCalcTotal(month)}}

    = render 'shared/modal_delete'
= render 'index_vue'